@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CompanyViewModel>


<h1>Add Job</h1>

<form  method="post">

    <div class="row mb-3">
        <label class="col-sm-12 col-form-label">Job Title</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="title" required />
        </div>
        <label class="col-sm-12 col-form-label">Salary</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="salary" required />
        </div>
        <label class="col-sm-12 col-form-label">Company</label>
        <div class="col-sm-5">
            <select class="form-control" name="company">
                <option >Select Company</option>
                @foreach (CompanyViewModel obj in Model)
                {
                    <option value="@(obj.id)">@obj.name</option>
                           
                }
                
            </select>
        </div>
    </div>
    <button type="submit" asp-action="AddJobToTable" class="btn btn-success">Add</button>
    <a class="btn btn-danger" asp-action="job">Cancel</a>
</form>

