@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .container{
        margin-top: 10%;
        text-align: center;
    }
</style>

<div class="container">
    <h1>Job Portal</h1><br />
    <a asp-controller="Admin" asp-action="Admin"><button class="btn-primary">Admin</button></a>
    <a asp-action="SearchJob"><button class="btn-primary">Hire Me</button></a>
</div>